

.Login .modal-content{ 
  text-align: center;
}

.Login .modal-content:hover{
  cursor: pointer;
}

.Login .glyphicon{
  padding: 0 0.5em;
}

.Login .modal-dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  margin: 0;
}

.Login .modal-title {
  font-size: 1.5em;
}

.Login .modal-body .btn {
  font-size: 1em;
}


@media screen and (max-width: 500px) {
  .Login .modal-title {
    font-size: 0.75em;
  }

  .Login .modal-body .btn {  
    font-size: 0.75em;
  }
}
